.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    margin: 2rem;
}

.circles-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    position: relative;
}
.circles-row::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    z-index: 0;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.3s ease;
}


.circle.active {
    background-color: #4CAF50; /* Color verde */
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.progress-text {
    margin: 0;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}