:root {
    --primary-color: #F59E0B;   /* Ámbar Premium */
    --secondary-color: #F1F5FF; /* Niebla Digital */
    --background-color: #E2E8F0; /* Gris Claro */
    --text-color: #334155;      /* Azul Oscuro */
    --accent-color: #FFFFFF;    /* Blanco */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}




