

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsivo */
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 2rem;
    gap: 3rem;
}

.main-title {
    font-size: 3rem;
    line-height: 1.1;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.main-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(245, 158, 11, 0.3);
    transition: transform 0.2s, background 0.3s;
}

.btn-primary:hover {
    transform: translateY(-3px);
    background-color: #d98e0a;
}


.main-left {
    padding-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background: transparent; /* Quitamos el fondo sólido para que luzcan las cards */
}

.benefits-title {
    font-size: 1.8rem;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 2rem;
}

/* Contenedor de la cuadrícula de cards */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    width: 100%;
}

/* Estilo individual de la Card */
.card {
    background-color: var(--accent-color);
    padding: 2rem 1.5rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    border-color: var(--primary-color);
}


.card-icon {
    font-size: 2.5rem;
    color: var(--primary-color); /* Tu color Ámbar */
    margin-bottom: 1rem;
}

.card p {
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
}

.imagen {
    display: none;
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}